volumes:
  db_data: {}
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: lazy-uncle
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: "no"
    healthcheck:
      test:
        - CMD-SHELL
        - “pg_isready”
      interval: 1s
      timeout: 5s
      retries: 10

  mailpit:
    image: axllent/mailpit
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # Web UI
